.banner-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.banner-nav {
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.navlink {
  text-decoration: none;
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
