.App {
  min-height: 100vh;
}


.body-home-banner {
  position: relative;
  border-radius: 2rem;
  width: 100%;
  height: 14rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.body-home-banner-img {
  border-radius: 2rem;
  object-fit: cover;
  filter: brightness(50%);
  width: 100%;
  height: 100%;
}

.body-home-banner-text {
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
 text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
