.dropdown__title {
  position: relative;
  background-color: #ff6060;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 5px;

  img {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 40%;
    transition: transform 0.3s ease-in-out;
  }

  img.arrow-down {
    transform: rotate(-180deg);
  }
}

.dropdown__content {
  background: #f6f6f673;
  font-weight: 400;
  padding: 1%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.5s;
}

.dropdown__content.open {
  max-height: 500px;
  opacity: 1;
}
