.detailed-card__infos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dropdown-menues {
  display: flex;
  justify-content: space-between;
}
