.footer-container {
  margin-top: 1rem;
}

.footer-img {
  position: relative;
  object-fit: cover;
  height: 13rem;
  width: 99vw;
  background: #000000 url("../../../assets/images/footer.png") no-repeat center center; 
  background-size: cover; 
  margin: 0;
}

@media (max-width: 480px) {
  .footer-img {
    background-image: url("../../../assets/images/footer2.png"); 
  }
}