.footer-container {
  margin-top: 25%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-img {
  position: relative;
  object-fit: cover;
  height: 13rem;
  width: 100vw;
  background: #000000;
  margin: 0;
}
