.footer-container {
  margin-top: 1rem;
}

.footer-img {
  height: 13rem;
  background: #000000 url("../../../assets/images/footer.png") no-repeat center center; 
  background-size: contain; 
  margin: 0;
}

@media (max-width: 480px) {
  .footer-img {
    background-image: url("../../../assets/images/footer2.png"); 
  }
}