.body-home-banner {
  position: relative;
  border-radius: 1.5625rem;
  width: 100%;
  height: 20vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-bottom: 3rem;
  box-sizing: border-box;
}

.body-home-banner__img {
  border-radius: 1.5625rem;
  object-fit: cover;
  filter: brightness(50%);
  width: 100%;
  height: 100%;
}

.body-home-banner__text {
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
  .body-home-banner {
    height: 7rem;
    margin: 1rem auto;
    border-radius: 0.625rem;
  }
  .body-home-banner__img {
    border-radius: 0.625rem;
  }
  .body-home-banner__text {
    font-size: 1.5rem;
  }
}
