.error-message {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 0;

  h1 {
    font-size: 18rem;
    font-weight: 700;
    margin: 2rem auto;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin: 3rem auto;
    margin-bottom: 10rem;
  }

  a {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  .error-message {
    h1 {
      font-size: 10rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    a {
      font-size: 1rem;
    }
  }
}


@media (max-width: 480px) {
  .error-message {
    height: 80vh;

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 1.125rem;
    }

    a {
      font-size: 0.875rem;
    }
  }
}
